/* src/App.css */
.App {
  text-align: center;
}

.city-selector {
  margin: 20px 0;
}

select {
  padding: 10px;
  margin-right: 10px;
}

h1 {
  color: #333;
}


.download-buttons {
  margin-bottom: 20px; /* Adjust the value as needed */
  margin-right: 10px; /* Adjust as needed for spacing between buttons */
}
